<main class="flex-1 min-h-[calc(100vh-153px)]">
    <div class="mx-auto max-w-screen-xl py-8 px-4 sm:px-6 lg:px-8 flex justify-between">
        <div class="max-w-xl px-4 py-8">
            <h1 class="text-2xl font-bold text-gray-900 sm:text-4xl">Consulta de perfis do GitHub com um clique</h1>
            <p class="mt-8 mb-8 text-gray-500">O GitHub é mundialmente usado e chega a ter mais de 36 milhões de usuários ativos mundialmente contribuindo em projetos comerciais ou pessoais. Hoje o GitHub abriga mais de 100 milhões de projetos, alguns deles que são conhecidos mundialmente.</p>
            <a routerLink="/usuarios"
                class="mt-8 rounded-lg bg-sky-600 px-4 py-3 text-sm font-medium text-white hover:bg-sky-700 focus:outline-none focus:ring">
                Consultar usuários
            </a>
        </div>
        <div class="lg:ml-8 hidden lg:block">
            <img src="assets/images/github-unsplash.jpg" alt="Imagem" class="h-auto rounded-lg">
        </div>
    </div>
</main>

<!--  -->