<a [href]="htmlUrl" target="_blank" aria-label="Visitar o perfil no GitHub">
    <div class="app-hover bg-white relative block overflow-hidden rounded-lg border border-gray-100 p-4 sm:p-5 lg:p-6">
        <span class="absolute inset-x-0 bottom-0 h-1 bg-slate-200"></span>
        <div class="flex items-center justify-between gap-4">
            <h3 class="text-lg sm-text-xl font-bold text-gray-900">{{ login }}</h3>
            <div class="sm:shrink-0">
                <img alt="" [src]="avatarUrl" class="h-16 w-16 rounded-lg object-cover shadow-sm" />
            </div>
        </div>
    </div>
</a>