<div class="flex items-center justify-end gap-3">
    <button
        class="inline-block rounded border border-sky-600 bg-sky-600 px-6 py-3 text-sm font-medium text-white hover:bg-sky-700 focus:outline-none focus:ring disabled:opacity-50 disabled:bg-sky-600"
        [class.disabled]="currentPage === 1"
        (click)="prevPage()"
        [disabled]="currentPage === 1"
        aria-label="Página Anterior">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd" />
        </svg>
    </button>
    <span>Página {{ currentPage }}</span>
    <button
        class="inline-block rounded border border-sky-600 bg-sky-600 px-6 py-3 text-sm font-medium text-white hover:bg-sky-700 focus:outline-none focus:ring"
        (click)="nextPage()"
        aria-label="Próxima">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd" />
        </svg>
    </button>
</div>
